fastapi
uvicorn
python-dotenv
appwrite
redis
requests
pydantic
werkzeug
python-json-logger
argon2-cffi
python-jose
scalar-fastapi
pydantic[email]
pydantic-settings
python-multipart
aiosmtplib 
email-validator
httpx
aiohttp
Jinja2